.countdown-box {
    background-color: white;
    color: #65003b;
    padding: 30px;
    border: 10px solid #65003b;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.countdown-title {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
}

.countdown-text {
    font-size: 28px;
    font-weight: bold;
}

/* Responsive */
@media (max-width: 768px) {
    .countdown-box {
        padding: 20px;
    }

    .countdown-text {
        font-size: 18px;
    }
}
